<!-- Page title bar -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Categories</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Home</a>
          </li>
          <li class="breadcrumb-item active">
            <strong>Categories</strong>
          </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <a routerLink="/categories/add">
            <button type="button" class="btn btn-primary btn-lg mt-20">Add Category</button>
        </a>
    </div>
</div>
<!-- Page content -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Available Categories</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                           placeholder="Search in categories" name="categoryNameSearchText" [(ngModel)]="categoryName" #categoryNameSearchText="ngModel" (keyup)="searchCategory(categoryName)">

                    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let category of categories">
                          <td>{{category.path}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>