<!-- Page title bar -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Categories</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Home</a>
          </li>
          <li class="breadcrumb-item active">
            <strong>Categories</strong>
          </li>
        </ol>
    </div>
    <div class="col-lg-2">
        <a routerLink="/categories/add">
            <button type="button" class="btn btn-primary btn-sm mt-20">Add Category</button>
        </a>
    </div>
</div>
<!-- Page content -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Available Categories</h5>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                           placeholder="Search in categories" name="categoryNameSearchText" [(ngModel)]="categoryName" #categoryNameSearchText="ngModel" (keyup)="searchCategories(categoryName)">

                    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let category of categories">
                          <td>{{category.path || category.name}}</td>
                          <td>
                              <a routerLink="/categories/edit/{{category.id}}">
                                <button type="button" class="btn btn-primary btn-sm">Edit</button>
                              </a>
                          </td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                    <p-paginator (onPageChange)="paginate($event)" [rows]="10" [totalRecords]="totalCategoryRecords" [rowsPerPageOptions]="rowsPerPageOptions" ></p-paginator>
                                </td>
                            </tr>
                        </tfoot>
                        <!-- <tfoot>
                            <tr>
                                <td colspan="5" class="footable-visible">
                                    <ul class="pagination float-right">
                                        <li class="footable-page-arrow"><a data-page="first" href="#first">«</a></li>
                                        <li class="footable-page-arrow"><a data-page="prev" href="#prev">‹</a></li>
                                        <li class="footable-page active"><a data-page="0" href="#">1</a></li>
                                        <li class="footable-page"><a data-page="1" href="#">2</a></li>
                                        <li class="footable-page-arrow disabled"><a data-page="next" href="#next">›</a></li>
                                        <li class="footable-page-arrow disabled"><a data-page="last" href="#last">»</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot> -->
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>