<!-- Page title bar -->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{action}} Category</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/categories">Categories</a>
          </li>
          <li class="breadcrumb-item active">
            <strong>{{action}} Category</strong>
          </li>
        </ol>
    </div>
    <div class="col-lg-2">
      <a routerLink="/categories">
        <button type="button" class="btn btn-primary btn-sm mt-20">Category Listing</button>
      </a>
    </div>
</div>
<!-- Page content -->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="ibox">
          <div class="ibox-title">
              <h5>{{action}} Category</h5>
          </div>
          <div class="ibox-content" style="">
              <form #categoryForm="ngForm" (ngSubmit)="addUpdateCategory(categoryForm)">
                    <div class="form-group  row"><label class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="categoryName" placeholder="Category Name" [(ngModel)]="category.name" #categoryName="ngModel" required>
                        <div *ngIf="categoryName.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="categoryName.errors.required">
                              Category Name is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Category Description</label>
                      <div class="col-sm-10">
                        <textarea type="text" class="form-control" name="categoryDescription" placeholder="Category Description" [(ngModel)]="category.description" #categoryDescription="ngModel"></textarea>
                        <div *ngIf="categoryDescription.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="categoryDescription.errors.required">
                              Category Description is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Category Path</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="categoryPath" placeholder="Category Path" [(ngModel)]="category.path" #categoryPath="ngModel" />
                        <div *ngIf="categoryPath.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="categoryPath.errors.required">
                              Category Path is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">SEO Keywords</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="categorySEOKeywords" placeholder="SEO Keywords" [(ngModel)]="category.seoKeywords" #categorySEOKeywords="ngModel" />
                        <div *ngIf="categorySEOKeywords.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="categorySEOKeywords.errors.required">
                              SEO Keywords is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">SEO Title</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="categorySEOTitle" placeholder="SEO Title" [(ngModel)]="category.seoTitle" #categorySEOTitle="ngModel" />
                        <div *ngIf="categorySEOTitle.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="categorySEOTitle.errors.required">
                              SEO Title is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">SEO Description</label>
                      <div class="col-sm-10">
                        <textarea type="text" class="form-control" name="categorySEODescription" placeholder="SEO Description" [(ngModel)]="category.seoDescription" #categorySEODescription="ngModel"></textarea>
                        <div *ngIf="categorySEODescription.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="categorySEODescription.errors.required">
                              SEO Description is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Slug</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="categorySlug" placeholder="Slug" [(ngModel)]="category.slug" #categorySlug="ngModel" required/>
                        <div *ngIf="categorySlug.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="categorySlug.errors.required">
                              Slug is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row"><label class="col-sm-2 col-form-label">Parent Category</label>
                      <div class="col-sm-10">
                        <p-autoComplete [(ngModel)]="category.parentCategoryId" [suggestions]="categories"
                        (completeMethod)="filterCategories($event)" field="path"
                        [size]="30" placeholder="Search for Category" [minLength]="1" [dropdown]="true" name="parentCategory" #parentCategory="ngModel" required></p-autoComplete>

                        <!-- <select #parentCategory="ngModel" class="form-control m-b" [name]="parentCategory" [(ngModel)]="category.parentCategoryId" id="ParentCategoryId" required>
                          <option value="-1" disabled [selected]="true">Select Category</option>
                          <option *ngFor="let category of categories" value="{{category.id}}">{{category.path}}</option>
                        </select> -->
                        <div *ngIf="parentCategory.invalid && categoryForm.submitted" class="alert alert-danger">
                            <div *ngIf="parentCategory.errors.required">
                              Parent Category is required.
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="hr-line-dashed"></div>
                  <div class="form-group row">
                      <div class="col-sm-4 col-sm-offset-2">
                          <a routerLink="/categories">
                            <button type="button" class="btn btn-white btn-sm">Cancel</button>
                          </a>
                          <button class="btn btn-primary btn-sm" type="submit">{{action}}</button>
                      </div>
                  </div>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>