<h2>Given Sample JSON:</h2>
{{rankingData | json}}

<h2>Produced Sample Output:</h2>
<table>
  <tr>
    <th>Parent</th>
    <th>Child Nodes</th>
  </tr>
  <tr>
  <ng-template #recursiveList let-rankingData>
    <tr *ngFor="let item of rankingData">
      {{item.Name}}
      <td *ngIf="item.Nodes !== null && item.Nodes.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.Nodes }"></ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: rankingData }"></ng-container>
</tr>
</table>