<h2>Add node using Parent Id</h2>
<input type="text" name="dataNameText" placeholder="Name" [(ngModel)]="dataName" #dataNameText="ngModel">
<input type="text" name="parentIdText" placeholder="parentId" [(ngModel)]="parentId" #parentIdText="ngModel">
<button (click)="addDatainRankingData()" >Add</button>

<h2>Update node using Node Id</h2>
<input type="text" name="dataNameUpdateText" placeholder="Name" [(ngModel)]="dataNameUpdate" #dataNameUpdateText="ngModel">
<input type="text" name="nodeIdText" placeholder="nodeId" [(ngModel)]="nodeId" #nodeIdText="ngModel">
<button (click)="updateDatainRankingData()" >Update</button>

<h2>Search node using Name</h2>
<input type="text" name="dataNameSearchText" placeholder="Name" [(ngModel)]="dataNameSearch" #dataNameSearchText="ngModel">
<button (click)="searchDatainRankingData()" >Search</button>

<br />
<h3>{{statusMessage}}</h3>

<h2>Given Sample JSON:</h2>
{{rankingData | json}}

<h2>Produced Sample Output:</h2>
<table>
  <tr>
    <th>Parent</th>
    <th>Child Nodes</th>
  </tr>
  <tr>
  <ng-template #recursiveList let-rankingData>
    <tr *ngFor="let item of rankingData">
      {{item.Name}}
      <td *ngIf="item.Nodes !== null && item.Nodes.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.Nodes }"></ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: rankingData }"></ng-container>
</tr>
</table>