<h2>Given Sample JSON:</h2>
{{rankingData | json}}

<h2>Produced Sample Output:</h2>
<ul>
  <ng-template #recursiveList let-rankingData>
    <li *ngFor="let item of rankingData">
      {{item.Name}}
      <ul *ngIf="item.Nodes !== null && item.Nodes.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.Nodes }"></ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: rankingData }"></ng-container>
</ul>